@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Ubuntu:wght@300;400;500;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  overflow-x: none;
}

.cont{
  height: 95vh;
  width: 100vw;
  background-color: #242424;
}

.auth{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth__name{
  color: aliceblue;
  font-size: 30px;
  padding: 20px 0;
}

.row{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth__input__field{
  margin-bottom: 30px;
}

.auth_validate{
  background-color: #242424;
  border: none;
  border-bottom: 1px solid aliceblue;
  font-size: 15px;
  padding: 2px 10px;
  text-align: center;
  color: aliceblue;
  outline: none;
}

.form__login{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth__reg{
  margin-bottom: 30px;
  color: #5c5c5c;
}

.auth__button{
  background-color: aliceblue;
  outline: none;
  border: none;
  min-width: 5rem;
  height: 2rem;
  padding: 0 10px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 15px;
  color: #242424;
}