.cont{
    height: 95vh;
    width: 100vw;
    background-color: #242424;
}

.auth{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}